<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='style/style.css') }}" />
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    </head>

    <body>
        <div class="content_body">
        <h3 class="title">Login</h3>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="/login_post" class="home_form">
                <input class="input is-large" type="text" name="username" placeholder="Username" autofocus="" required><br>
                <input class="input is-large" type="password" name="password" placeholder="Password" required><br>
                <button id="submit">Login</button>
                <p>If you dont have an account</p>
                <p>You cant create one here: <a href="{{ url_for('signup') }}">Sign up</a></p>
            </form>  
        </div>
    </body>
</html>
