{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('login') }}">login page</a>.
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup_post">
            <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
            <input class="input is-large" type="text" name="username" placeholder="Name" autofocus="">
            <input class="input is-large" type="password" name="password" placeholder="Password"><br>
            <button id="submit">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}
